.footer {
  .container {
    &.container-btn {
      padding: 3rem 1.5rem 1rem;
    }
    &.container-text {
      padding: 0 1.5rem 3rem;
    }
    .button-container {
      width: 15rem;
      margin: auto;
      .btn-outline-dark {
        border-radius: 0.5rem;
      }
    }
    .text-container {
      margin: auto;
    }
  }
}
