<nav aria-label="Navigation" class="navbar sticky-bottom navbar-light bg-light custom-nav-bg footer">
  <div class="container container-btn">
    <div class="button-container d-flex justify-content-around">
      <a href="https://www.linkedin.com/in/sasanga-chathumal/" target="_blank" type="button" class="btn btn-outline-dark">
        <i class="bi bi-linkedin"></i>
      </a>
      <a href="https://twitter.com/SasangaChathum1" target="_blank" type="button" class="btn btn-outline-dark">
        <i class="bi bi-twitter"></i>
      </a>
      <a href="https://www.instagram.com/sasanga_chathumal/" target="_blank" type="button" class="btn btn-outline-dark">
        <i class="bi bi-instagram"></i>
      </a>
      <a href="mailto:chathumal.sasanga02@gmail.com" type="button" class="btn btn-outline-dark">
        <i class="bi bi-envelope"></i>
      </a>
    </div>
  </div>
  <div class="container container-text">
    <div class="text-container d-flex justify-content-center">
      <p class="navbar-text">
        Handcrafted by me &copy; 2021
      </p>
    </div>
  </div>
  <!-- <div class="container container-text">
    <div class="text-container">
      <p>credits section</p>
      <p class="navbar-link"><small><a href='https://www.freepik.com/vectors/technology'>Technology vector created by sentavio - www.freepik.com</a></small></p>
    </div>
  </div> -->
</nav>
