<div class="jumbotron main-footer">
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="col-12 align-middle text-center">
        <img class="w-50" src="./assets/banner-1.svg" alt="Technology vector"
          title="designed by Sentavio - Freepik.com">
      </div>
    </div>
  </div>
</div>
<section class="about-me">
  <div class="row d-flex align-items-center justify-content-center align-items-start">
    <div class="col-lg-8 col-md-11 col-sm-11 col-sx-12 text-center">
      <div class="">
        <h3 class="title">Hi, Nice to meet you.</h3>
        <h5 class="desc">My journey as a software engineer start nearly 5 years ago after I finish my software
          engineering course that i followed in a institute. After my corce I joined to company as Trainee Associate
          Software Engineer to do my internship in 2016. Since then I work as a Associate Software Engineer, Frontend
          Software Developer in different companies collaborated with talented people to create awesome and powerfull
          digital
          products. </h5>
        <!-- <h5 class="desc">I joined Populo Pvt Ltd as a Trainee Associate Software Engineer to do my internship in 2016.
          After finishing my internship i continue working at Populo Pvt Ltd as a Associate Software Engineer until
          2018.</h5>
        <h5 class="desc">In 2018 I join to Practera as a Frontend Software Developer. Since then until now I'm working
          in Practera.</h5> -->
      </div>
    </div>
  </div>
  <div class="row d-flex align-items-center justify-content-center cv-btn-container">
    <div class="col-7 text-center">
      <button type="button" class="btn btn-outline-primary btn-lg resume-btn">My Resume</button>
    </div>
  </div>
</section>
