<section class="about-me">
  <div class="row d-flex justify-content-center">
    <div class="col-6 align-middle text-center">
      <div class="">
        <h3 class="title">Hi, Nice to meet you.</h3>
        <h5 class="desc">My journey as a software engineer start nearly 5 years ago after I finish my software
          engineering course that i followed in a institute. Since then I work as a associate software engineer,
          software
          developer in different companies collaborated with talented people to create awesome and powerfull digital
          products. </h5>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center cv-btn-container">
    <div class="col-6 align-middle text-center">
      <button type="button" class="btn btn-outline-dark btn-lg">My Resume</button>
    </div>
  </div>
</section>
