<section class="main">
  <div class="jumbotron main-body">
    <div class="container padding-top align-items-center">
      <div class="row">
        <div class="col align-middle text-center">
          <h1 class="title">Hi there, 👋</h1>
          <h2 class="title">I'm <span class="name">Sasanga Chathumal</span> and I'm a Front-end developer</h2>
          <p class="h5 subtitle">I build simple and awesome thing, and love what i do</p>
          <img class="w-25" src="https://pitcoder.github.io/img/portfolio/thumbnails/avatar.png" alt="qwqw">
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron main-footer">
    <div class="container">
      <div class="row">
        <div class="col align-middle text-center">
          <img class="w-50"
            src="../../assets/banner-1.svg"
            alt="Technology vector" title="designed by Sentavio - Freepik.com">
        </div>
      </div>
    </div>
  </div>
</section>
