.main-body {
  font-family: "eurostile", sans-serif;
  height: 90vh;
  .container-fluid {
    height: inherit;
    .row {
      height: inherit;
    }
  }
}
.profile-img-container {
  height: inherit;
  .profile-img {
    width: 30rem;
  }
}
.info-container {
  padding: 0 40px 0 40px;
  height: inherit;
  .name {
    color: mediumturquoise;
  }
  .title {
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 1.5px;
    margin-bottom: 1.5rem;
  }
  .subtitle {
    font-family: "eurostile", sans-serif;
    letter-spacing: 2px;
    margin-bottom: 1.5rem;
    font-weight: 100;
  }
}

@media (max-width: 576px) {
  .profile-img-container {
    justify-content: center !important;
    height: 18rem;
    .profile-img {
      width: 15rem;
    }
  }
  .info-container {
    height: 18rem;
    justify-content: center !important;
    .title {
      font-size: 1.7rem;
      margin-bottom: 0.8rem;
    }
    .subtitle {
      font-size: 1rem;
      margin-bottom: 0.8rem;
    }
  }
}

@media (min-width: 576px) {
  .profile-img-container {
    .profile-img {
      width: 15rem;
    }
  }
  .info-container {
    justify-content: center !important;
    padding: 0 20px 0 40px;
    .title {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    .subtitle {
      font-size: 1.1rem;
      margin-bottom: 1.2rem;
    }
  }
}

@media (min-width: 768px) {
  .profile-img-container {
    .profile-img {
      width: 19rem;
    }
  }
  .info-container {
    justify-content: flex-start !important;
    padding: 0 20px 0 40px;
    .title {
      font-size: 2.7rem;
      margin-bottom: 1.2rem;
    }
    .subtitle {
      font-size: 1.1rem;
      margin-bottom: 1.2rem;
    }
  }
}

@media (min-width: 992px) {
  .profile-img-container {
    .profile-img {
      width: 30rem;
    }
  }
  .info-container {
    justify-content: flex-start !important;
    padding: 0 40px 0 40px;
    .title {
      font-size: 50px;
      margin-bottom: 1.5rem;
    }
    .subtitle {
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }
}
