<div class="jumbotron main-body">
  <div class="container-fluid">
    <div class="row align-items-start">
      <div class="col-lg-6 col-md-5 col-sm-5 col-sx-12 d-flex align-items-center justify-content-end profile-img-container">
        <img class="profile-img" src="./assets/avatar.png" alt="qwqw">
      </div>
      <div class="col-lg-6 col-md-7 col-sm-7 col-sx-12 d-flex align-items-center justify-content-start info-container">
        <div class="">
          <h1 class="title">Hi there, 👋</h1>
          <h2 class="title">I'm <span class="name">Sasanga Chathumal</span></h2>
          <p class="h5 subtitle">SOFTWARE ENGINEER | MUSIC PRODUCER | YOUTUBER</p>
          <p class="h6 subtitle">I work on simple and awesome things, and love what i do</p>
        </div>
      </div>
    </div>
  </div>
</div>
