.main {
  padding-top: 2rem;
  .main-body {
    padding: 3rem 1.5rem;
    .container {
      height: inherit;
      font-family: "eurostile", sans-serif;
      .name {
        color: mediumturquoise;
      }
      .title {
        font-weight: 800;
        letter-spacing: 1.5px;
        margin-bottom: 1.5rem;
      }
      .subtitle {
        font-family: "eurostile", sans-serif;
        letter-spacing: 2px;
        margin-bottom: 1.5rem;
        font-weight: 100;
      }
    }
  }
  .main-footer {
    padding-bottom: 0 !important;
    margin-bottom: -8rem;
    padding: 1rem 2rem;
  }
}
