<div class="jumbotron main-body">
  <div class="container-fluid">
    <div class="row main-row align-items-start">
      <div
        class="col-lg-6 col-md-5 col-sm-5 col-sx-12 d-flex align-items-center justify-content-end profile-img-container">
        <img class="profile-img" src="./assets/avatar.png" alt="qwqw">
      </div>
      <div class="col-lg-6 col-md-7 col-sm-7 col-sx-12 info-container">
        <div class="row align-items-start">
          <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
            <h1 class="title">Hi there, 👋</h1>
            <h2 class="title">I'm <span class="name">Sasanga Chathumal</span></h2>
            <p class="h5 subtitle">SOFTWARE ENGINEER | YOUTUBER</p>
            <p class="h6 subtitle">I work on awesome and chalanging things and love what i do</p>
          </div>
        </div>
        <div class="row align-items-start">
          <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12 contact-container">
            <a class="github" href="https://github.com/sasangachathumal" target="_blank">
              <i class="bi bi-github"></i>
            </a>
            <a class="linkedin" href="https://www.linkedin.com/in/sasanga-chathumal/" target="_blank">
              <i class="bi bi-linkedin"></i>
            </a>
            <a class="twitter" href="https://twitter.com/SasangaChathum1" target="_blank">
              <i class="bi bi-twitter"></i>
            </a>
            <a class="youtube" href="https://www.youtube.com/channel/UCG6U1QEg7yCvQBuMHMZC_bQ" target="_blank">
              <i class="bi bi-youtube"></i>
            </a>
            <a class="facebook" href="https://www.facebook.com/sasanga.chathumal" target="_blank">
              <i class="bi bi-facebook"></i>
            </a>
            <a class="email" href="mailto:sasanga.dev@gmail.com">
              <i class="bi bi-envelope-fill"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
