<app-about-me></app-about-me>

<app-working-expreance></app-working-expreance>

<app-my-skils></app-my-skils>

<!-- <div class="container">
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-lg-10 col-md-12 col-sm-12 col-sx-12 text-center">
      <ul class="nav nav-tabs info-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="skils-tab" data-bs-toggle="tab" data-bs-target="#skils" type="button" role="tab" aria-controls="skils" aria-selected="true">Skills</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="working-tab" data-bs-toggle="tab" data-bs-target="#working" type="button" role="tab" aria-controls="working" aria-selected="true">Working Expriences</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="skils" role="tabpanel" aria-labelledby="skils-tab">
          <app-my-skils></app-my-skils>
        </div>
        <div class="tab-pane fade" id="working" role="tabpanel" aria-labelledby="working-tab">
          <app-working-expreance></app-working-expreance>
        </div>
      </div>
    </div>
  </div>
</div> -->
