<section class="working-expreance">
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12 text-center">
        <h2 class="title">Working Experience</h2>
      </div>
    </div>

    <div class="row d-flex align-items-start justify-content-start exp-row-start">

      <div class="col-lg-5 col-md-10 col-sm-12 col-sx-12 text-start">
        <div class="card align-middle exp-card desktop">
          <div class="card-body">
            <div class="company-logo-container practera d-flex justify-content-start align-items-start">
              <img class="company-logo" src="./assets/Practera-logo.svg" alt="practera logo">
              <div class="info">
                <h5 class="name">Practera</h5>
                <h5 class="duration">June 2018 to Present</h5>
                <h5>working as <strong>Front-end Developer</strong></h5>
              </div>
            </div>
          </div>
        </div>
        <div class="card align-middle exp-card mobile">
          <div class="card-body">
            <div class="row d-flex justify-content-center image-container">
              <div class="col align-middle text-center">
                <div class="company-logo-container practera d-flex justify-content-start align-items-start">
                  <img class="company-logo" src="./assets/Practera-logo.svg" alt="practera logo">
                </div>
              </div>
            </div>
            <div class="row d-flex justify-content-center detail-container">
              <div class="col align-middle text-center">
                <div class="info">
                  <h5 class="name"><strong>Practera</strong></h5>
                  <h5 class="duration">June 2018 to Present</h5>
                  <h5>working as <strong>Front-end Developer</strong></h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-md-2 col-sm-12 col-sx-12 text-center path-container">
        <div class="d-flex align-items-center justify-content-center">
          <div class="line"></div>
          <div class="dot"></div>
        </div>
      </div>
    </div>

    <div class="row d-flex align-items-end justify-content-end exp-row-end">
      <div class="col-lg-2 col-md-2 col-sm-12 col-sx-12 text-center path-container">
        <div class="d-flex align-items-center justify-content-center">
          <div class="line"></div>
          <div class="dot"></div>
        </div>
      </div>

      <div class="col-lg-5 col-md-10 col-sm-12 col-sx-12 text-start">
        <div class="card align-middle exp-card desktop">
          <div class="card-body">
            <div class="company-logo-container d-flex justify-content-start align-items-start">
              <img class="company-logo" src="./assets/populo-logo.png" alt="populo logo">
              <div class="info">
                <h5 class="name">Populo Pvt Ltd</h5>
                <h5 class="duration">June 2016 to June 2018</h5>
                <h5>worked as <strong>Associate Software Engineer</strong></h5>
              </div>
            </div>
          </div>
        </div>
        <div class="card align-middle exp-card mobile">
          <div class="card-body">
            <div class="row d-flex justify-content-center image-container">
              <div class="col align-middle text-center">
                <div class="company-logo-container d-flex justify-content-start align-items-start">
                  <img class="company-logo" src="./assets/populo-logo.png" alt="populo logo">
                </div>
              </div>
            </div>
            <div class="row d-flex justify-content-center detail-container">
              <div class="col align-middle text-center">
                <div class="info">
                  <h5 class="name"><strong>Populo Pvt Ltd</strong></h5>
                  <h5 class="duration">June 2016 to June 2018</h5>
                  <h5>worked as <strong>Associate Software Engineer</strong></h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


  <!-- <div class="jumbotron" style="display: none;">
    <div class="row d-flex justify-content-evenly">
      <div class="card align-middle exp-card">
        <div class="card-body">
          <div class="row d-flex justify-content-center title-containr">
            <div class="col align-middle text-center">
              <h2 class="title">Practera</h2>
              <div class="company-logo-container d-flex justify-content-center align-items-center">
                <img class="company-logo" src="./assets/Practera-logo.svg"
                  alt="practera logo">
              </div>
            </div>
          </div>
          <div class="row d-flex justify-content-center detail-containr">
            <div class="col align-middle text-center">
              <h5>form June 2018 to Present</h5>
              <h5>working as <strong>Front-end Developer</strong></h5>
            </div>
          </div>
        </div>
      </div>
      <div class="card align-middle exp-card">
        <div class="card-body">
          <div class="row d-flex justify-content-center title-containr">
            <div class="col align-middle text-center">
              <h2 class="title">Populo Pvt Ltd</h2>
              <div class="company-logo-container d-flex justify-content-center align-items-center">
                <img class="company-logo populo" src="./assets/populo-logo.png" alt="populo logo">
              </div>
            </div>
          </div>
          <div class="row d-flex justify-content-center detail-containr">
            <div class="col align-middle text-center">
              <h5>form june 2016 to june 2018</h5>
              <h5>worked as <strong>Associate Software Engineer</strong></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</section>
