<section class="skill-container">
  <div class="jumbotron">
    <div class="align-middle text-center">
      <h2 class="title">My Skils</h2>
    </div>
    <div class="container">
      <div class="front-end-container">
        <h4 class="title">Front-end Development Languages, Frameworks, Technologies and Tools</h4>
        <div class="row tech-row">
          <div class="col-2">
            <div class="card tech-card js">
              <div class="card-body">
                <img
                  src="./assets/skils/front-end/JavaScript-logo.png"
                  alt="JS Logo">
                <h5>JavaScript</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card ts">
              <div class="card-body">
                <img
                  src="./assets/skils/front-end/Typescript-logo.png"
                  alt="TS Logo">
                <h5>TypeScript</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card ng">
              <div class="card-body">
                <img
                  src="./assets/skils/front-end/Angular-logo.png"
                  alt="Angular Logo">
                <h5>Angular</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card ionic">
              <div class="card-body">
                <img src="./assets/skils/front-end/Ionic-logo.png" alt="Ionic Logo">
                <h5>Ionic</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card jq">
              <div class="card-body">
                <img src="./assets/skils/front-end/Jquery-logo.png" alt="Jquery Logo">
                <h5>Jquery</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card sass">
              <div class="card-body">
                <img
                  src="./assets/skils/front-end/Sass-logo.png"
                  alt="SCSS Logo">
                <h5>SASS</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="row tech-row">
          <div class="col-2">
            <div class="card tech-card karma">
              <div class="card-body">
                <img src="./assets/skils/front-end/karma-logo.png" alt="Karma Logo">
                <h5>Karma</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card jasmine">
              <div class="card-body">
                <img src="./assets/skils/front-end/Jasmine-logo.png" alt="Jasmine Logo">
                <h5>Jasmine</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card html">
              <div class="card-body">
                <img
                  src="./assets/skils/front-end/HTML5-logo.png"
                  alt="HTML Logo">
                <h5>HTML</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card css">
              <div class="card-body">
                <img
                  src="./assets/skils/front-end/CSS3-logo.png"
                  alt="CSS Logo">
                <h5>CSS</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card bootstrap">
              <div class="card-body">
                <img
                  src="./assets/skils/front-end/Bootstrap-logo.png"
                  alt="Bootstrap Logo">
                <h5>Bootstrap</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card mat">
              <div class="card-body">
                <img src="./assets/skils/front-end/Materialize-logo.png"
                  alt="Materialize Logo">
                <h5>Materialize</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="back-end-container">
        <h4 class="title">Back-end Development Languages, Frameworks, Technologies and Tools</h4>
        <div class="row tech-row">
          <div class="col-2">
            <div class="card tech-card node">
              <div class="card-body">
                <img
                  src="./assets/skils/back-end/NodeJs-logo.png"
                  alt="Node JS Logo">
                <h5>Node Js</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card express">
              <div class="card-body">
                <img src="./assets/skils/back-end/Expressjs-logo.png" alt="Express JS Logo">
                <h5>Express Js</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card sequelize">
              <div class="card-body">
                <img src="./assets/skils/back-end/Sequelize-logo.svg" alt="Sequelize Logo">
                <h5>Sequelize</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card java-play">
              <div class="card-body">
                <img
                  src="./assets/skils/back-end/Play-FW-logo.png"
                  alt="Java Play Logo">
                <h5>Java Play</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card ebean">
              <div class="card-body">
                <img src="./assets/skils/back-end/Ebean-logo.png" alt="Ebean Logo">
                <h5>Ebean</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card firebase">
              <div class="card-body">
                <img src="./assets/skils/back-end/Firebase-logo.png" alt="Firebase Logo">
                <h5>Firebase</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="row tech-row">
          <div class="col-2">
            <div class="card tech-card g-cloud">
              <div class="card-body">
                <img src="./assets/skils/back-end/Google-Cloud-logo.png"
                  alt="Google Cloud Logo">
                <h5>Google Cloud</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card mysql">
              <div class="card-body">
                <img src="./assets/skils/back-end/MySQL-logo.png" alt="MySQL Logo">
                <h5>MySQL</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card hibaernate">
              <div class="card-body">
                <img src="./assets/skils/back-end/Hibernate-logo.svg" alt="Hibernate Logo">
                <h5>Hibernate</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card java">
              <div class="card-body">
                <img src="./assets/skils/back-end/Java-logo.png"
                  alt="Java Logo">
                <h5>Java</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sound-knowledge-container">
        <h4 class="title">Sound knowledge in</h4>
        <div class="row tech-row">
          <div class="col-2">
            <div class="card tech-card android">
              <div class="card-body">
                <img src="./assets/skils/sound-knowledge/Android-logo.svg" alt="android Logo">
                <h5>Android</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card docker">
              <div class="card-body">
                <img src="./assets/skils/sound-knowledge/Docker-logo.svg" alt="Docker Logo">
                <h5>Docker</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card react">
              <div class="card-body">
                <img src="./assets/skils/sound-knowledge/React-logo.svg" alt="React Logo">
                <h5>React</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card flutter">
              <div class="card-body">
                <img src="./assets/skils/sound-knowledge/Flutter-logo.svg" alt="Flutter Logo">
                <h5>Flutter</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card objective-c">
              <div class="card-body">
                <img src="./assets/skils/sound-knowledge/Objective-c-logo.png"
                  alt="Objective-C Logo">
                <h5>Objective-C</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card swift">
              <div class="card-body">
                <img src="./assets/skils/sound-knowledge/swift-15-logo.png"
                  alt="Swift Logo">
                <h5>Swift</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="other-tools">
        <h4 class="title">Other Tools and Technologies</h4>
        <div class="row tech-row">
          <div class="col-2">
            <div class="card tech-card npm">
              <div class="card-body">
                <img
                  src="./assets/skils/Other/Npm-logo.png"
                  alt="npm Logo">
                <h5>NPM</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card git">
              <div class="card-body">
                <img
                  src="./assets/skils/Other/Git-logo.png"
                  alt="git Logo">
                <h5>Git</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card github">
              <div class="card-body">
                <img src="./assets/skils/Other/Github-logo.svg"
                  alt="Github Logo">
                <h5>Github</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card gitbucket">
              <div class="card-body">
                <img
                  src="./assets/skils/Other/Bitbucket-logo.png"
                  alt="bitbucket Logo">
                <h5>Bitbucket</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card sketch">
              <div class="card-body">
                <img
                  src="./assets/skils/Other/Sketch-logo.png"
                  alt="sketch Logo">
                <h5>Sketch</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card adobe-xd">
              <div class="card-body">
                <img src="./assets/skils/Other/XD-logo.svg" alt="adobe xd Logo">
                <h5>Adobe XD</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="row tech-row">
          <div class="col-2">
            <div class="card tech-card adobe-photoshop">
              <div class="card-body">
                <img src="./assets/skils/Other/Photoshop-logo.svg" alt="adobe-photoshop">
                <h5>Adobe Photoshop</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card adobe-illustrator">
              <div class="card-body">
                <img src="./assets/skils/Other/Illustrator-logo.svg" alt="adobe-illustrator Logo">
                <h5>Adobe Illustrator</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card adobe-ae">
              <div class="card-body">
                <img src="./assets/skils/Other/After-Effects-logo.png"
                  alt="adobe-ae Logo">
                <h5>Adobe AE</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
