<section class="skill-container">
  <div class="jumbotron">
    <div class="align-middle text-center">
      <h2 class="title">My Skils</h2>
    </div>
    <div class="container">
      <div class="front-end-container">
        <h4 class="title">Front-end Development Languages, Frameworks, Technologies and Tools</h4>
        <div class="tech-row d-flex align-items-center justify-content-center">
          <div class="d-flex align-items-center justify-content-center">
            <div class="card tech-card ng">
              <div class="card-body">
                <img
                  src="./assets/skils/front-end/angular.svg"
                  alt="Angular Logo">
                <h5>Angular</h5>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <div class="card tech-card js">
              <div class="card-body">
                <img
                  src="./assets/skils/front-end/javaScript.svg"
                  alt="JS Logo">
                <h5>JavaScript</h5>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <div class="card tech-card ts">
              <div class="card-body">
                <img
                  src="./assets/skils/front-end/typescript.svg"
                  alt="TS Logo">
                <h5>TypeScript</h5>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <div class="card tech-card ionic">
              <div class="card-body">
                <img src="./assets/skils/front-end/ionic.svg" alt="Ionic Logo">
                <h5>Ionic</h5>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <div class="card tech-card jq">
              <div class="card-body">
                <img src="./assets/skils/front-end/jquery.svg" alt="Jquery Logo">
                <h5>Jquery</h5>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <div class="card tech-card karma">
              <div class="card-body">
                <img src="./assets/skils/front-end/karma.svg" alt="Karma Logo">
                <h5>Karma</h5>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <div class="card tech-card jasmine">
              <div class="card-body">
                <img src="./assets/skils/front-end/jasmine.svg" alt="Jasmine Logo">
                <h5>Jasmine</h5>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <div class="card tech-card html">
              <div class="card-body">
                <img src="./assets/skils/front-end/html.svg" alt="HTML Logo">
                <h5>HTML</h5>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <div class="card tech-card sass">
              <div class="card-body">
                <img src="./assets/skils/front-end/sass.svg" alt="SCSS Logo">
                <h5>SASS</h5>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <div class="card tech-card css">
              <div class="card-body">
                <img src="./assets/skils/front-end/css3.svg" alt="CSS Logo">
                <h5>CSS</h5>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <div class="card tech-card bootstrap">
              <div class="card-body">
                <img src="./assets/skils/front-end/bootstrap.svg" alt="Bootstrap Logo">
                <h5>Bootstrap</h5>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <div class="card tech-card mat">
              <div class="card-body">
                <img src="./assets/skils/front-end/materialize.svg" alt="Materialize Logo">
                <h5>Materialize</h5>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <div class="card tech-card jasmine">
              <div class="card-body">
                <img src="./assets/skils/front-end/jest.svg" alt="Jest Logo">
                <h5>Jest</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="back-end-container">
        <h4 class="title">Back-end Development Languages, Frameworks, Technologies and Tools</h4>
        <div class="tech-row d-flex align-items-center justify-content-center">
          <div class="">
            <div class="card tech-card node">
              <div class="card-body">
                <img src="./assets/skils/back-end/node.svg" alt="Node JS Logo">
                <h5>Node Js</h5>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <div class="card tech-card express">
              <div class="card-body">
                <img src="./assets/skils/back-end/express-js.svg" alt="Express JS Logo">
                <h5>Express Js</h5>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <div class="card tech-card sequelize">
              <div class="card-body">
                <img src="./assets/skils/back-end/sequelize.svg" alt="Sequelize Logo">
                <h5>Sequelize</h5>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <div class="card tech-card java">
              <div class="card-body">
                <img src="./assets/skils/back-end/java.svg" alt="Java Logo">
                <h5>Java</h5>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <div class="card tech-card firebase">
              <div class="card-body">
                <img src="./assets/skils/back-end/firebase.svg" alt="Firebase Logo">
                <h5>Firebase</h5>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <div class="card tech-card g-cloud">
              <div class="card-body">
                <img src="./assets/skils/back-end/google-appengine.svg" alt="Google App Engine Logo">
                <h5>Google App Engine</h5>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <div class="card tech-card mysql">
              <div class="card-body">
                <img src="./assets/skils/back-end/mysql.svg" alt="MySQL Logo">
                <h5>MySQL</h5>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <div class="card tech-card hibaernate">
              <div class="card-body">
                <img src="./assets/skils/back-end/php.svg" alt="PHP Logo">
                <h5>PHP</h5>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <div class="card tech-card hibaernate">
              <div class="card-body">
                <img src="./assets/skils/back-end/hibernate.svg" alt="Hibernate Logo">
                <h5>Hibernate</h5>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <div class="card tech-card java-play">
              <div class="card-body">
                <img src="./assets/skils/back-end/play-framework.svg" alt="Java Play Logo">
                <h5>Java Play</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sound-knowledge-container">
        <h4 class="title">Sound knowledge in</h4>
        <div class="tech-row d-flex align-items-center justify-content-center">
          <div class="d-flex align-items-center justify-content-center">
            <div class="card tech-card android">
              <div class="card-body">
                <img src="./assets/skils/sound-knowledge/android.svg" alt="android Logo">
                <h5>Android</h5>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <div class="card tech-card docker">
              <div class="card-body">
                <img src="./assets/skils/sound-knowledge/docker.svg" alt="Docker Logo">
                <h5>Docker</h5>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <div class="card tech-card react">
              <div class="card-body">
                <img src="./assets/skils/sound-knowledge/react.svg" alt="React Logo">
                <h5>React</h5>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <div class="card tech-card flutter">
              <div class="card-body">
                <img src="./assets/skils/sound-knowledge/flutter.svg" alt="Flutter Logo">
                <h5>Flutter</h5>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <div class="card tech-card objective-c">
              <div class="card-body">
                <img src="./assets/skils/sound-knowledge/objective-c.svg" alt="Objective-C Logo">
                <h5>Objective-C</h5>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <div class="card tech-card swift">
              <div class="card-body">
                <img src="./assets/skils/sound-knowledge/swift.svg" alt="Swift Logo">
                <h5>Swift</h5>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <div class="card tech-card android">
              <div class="card-body">
                <img src="./assets/skils/sound-knowledge/graphql.svg" alt="GraphQl Logo">
                <h5>GraphQl</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="other-tools">
        <h4 class="title">Other Tools and Technologies</h4>
        <div class="tech-row d-flex align-items-center justify-content-center">
          <div class="d-flex align-items-center justify-content-center">
            <div class="card tech-card npm">
              <div class="card-body">
                <img src="./assets/skils/Other/npm.svg" alt="npm Logo">
                <h5>NPM</h5>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <div class="card tech-card git">
              <div class="card-body">
                <img src="./assets/skils/Other/git.svg" alt="git Logo">
                <h5>Git</h5>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <div class="card tech-card github">
              <div class="card-body">
                <img src="./assets/skils/Other/github.svg" alt="Github Logo">
                <h5>Github</h5>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <div class="card tech-card gitbucket">
              <div class="card-body">
                <img src="./assets/skils/Other/bitbucket.svg" alt="bitbucket Logo">
                <h5>Bitbucket</h5>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <div class="card tech-card sketch">
              <div class="card-body">
                <img src="./assets/skils/Other/sketch.svg" alt="sketch Logo">
                <h5>Sketch</h5>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <div class="card tech-card adobe-photoshop">
              <div class="card-body">
                <img src="./assets/skils/Other/photoshop.svg" alt="adobe-photoshop">
                <h5>Adobe Photoshop</h5>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <div class="card tech-card adobe-illustrator">
              <div class="card-body">
                <img src="./assets/skils/Other/illustrator.svg" alt="adobe-illustrator Logo">
                <h5>Adobe Illustrator</h5>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <div class="card tech-card adobe-ae">
              <div class="card-body">
                <img src="./assets/skils/Other/after-effect.svg" alt="adobe-ae Logo">
                <h5>Adobe AE</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
