.skill-container {
  font-family: "eurostile", sans-serif;
  padding: 4rem 1.5rem;
  .title {
    margin-bottom: 2rem;
    font-weight: 800;
    letter-spacing: 1.5px;
  }
  .tech-row {
    margin-bottom: 2rem;
    flex-wrap: wrap;
  }
  .tech-card {
    // box-shadow: 5px 6px 17px 1px rgb(0 0 0 / 10%);
    margin-bottom: 1rem;
    margin-right: 1rem;
    border: none;
    background: transparent;
    .card-body {
      padding: 0.5rem 0.5rem;
      h5 {
        margin-top: 1rem;
        font-size: 12px;
        font-weight: 100;
        color: rgba(0, 0, 0, 0.4);
      }
      img {
        width: 4rem;
        height: 4rem;
        margin-bottom: 0.8rem;
        margin: auto;
        filter: drop-shadow(5px 5px 10px rgb(0 0 0 / 0.3));
        transition: transform .2s; /* Animation */

        &:hover {
          transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
          h5 {
            display: block;
          }
        }
      }
    }
  }
  .front-end-container {
    text-align: center;
    margin-bottom: 1.5rem;
    .title {
      margin-bottom: 1.5rem;
      font-weight: 200;
      letter-spacing: 1px;
    }
    .tech-card {
      &.js {
        // border: 1px solid rgb(247,224,23);
      }
      &.ts {
        // border: 1px solid rgb(47,121,199);
      }
      &.ng {
        // border: 1px solid rgb(221,0,49);
      }
      &.ionic {
        // border: 1px solid rgb(72,138,255);
      }
      &.jq {
        // border: 1px solid rgb(8,104,172);
      }
      &.sass {
        // border: 1px solid rgb(207,105,155);
      }
      &.karma {
        // border: 1px solid rgb(86,198,167);
      }
      &.jasmine {
        // border: 1px solid rgb(138,66,130);
      }
      &.html {
        // border: 1px solid rgb(229,76,32);
      }
      &.css {
        // border: 1px solid rgb(39,77,228);
        .card-body {
          img {
            // width: 50px;
          }
        }
      }
      &.bootstrap {
        // border: 1px solid rgb(142,12,252);
        .card-body {
          img {
            // width: 72px;
          }
        }
      }
      &.mat {
        // border: 1px solid rgb(236,112,119);
        .card-body {
          img {
            // width: 78px;
          }
        }
      }
    }
  }
  .back-end-container {
    text-align: center;
    margin-top: 5rem;
    .title {
      margin-bottom: 1.5rem;
      font-weight: 200;
      letter-spacing: 1px;
    }
    .tech-card {
      &.node {
        // border: 1px solid rgb(104,163,91);
        .card-body {
          img {
            // width: 80px;
          }
        }
      }
      &.express {
        // border: 1px solid rgb(220,223,225);
        .card-body {
          img {
            // width: 120px;
          }
        }
      }
      &.sequelize {
        // border: 1px solid rgb(7,174,239);
      }
      &.java-play {
        // border: 1px solid rgb(74,105,31);
        .card-body {
          img {
            // width: 100px;
          }
        }
      }
      &.firebase {
        // border: 1px solid rgb(252,202,63);
        .card-body {
          img {
            // width: 52px;
          }
        }
      }
      &.g-cloud {
        // border-top: 1px solid rgb(234,68,53);
        // border-bottom: 1px solid rgb(51,168,82);
        // border-left: 1px solid rgb(250,189,4);
        // border-right: 1px solid rgb(67,133,243);
        .card-body {
          img {
            // width: 80px;
          }
        }
      }
      &.mysql {
        // border: 1px solid rgb(108,156,180);
        .card-body {
          img {
            // width: 90px;
          }
        }
      }
      &.hibaernate {
        // border-top: 1px solid rgb(189,174,120);
        // border-bottom: 1px solid rgb(189,174,120);
        // border-left: 1px solid rgb(88,102,107);
        // border-right: 1px solid rgb(88,102,107);
      }
      &.java {
        // border: 1px solid rgb(236,112,119);
      }
    }
  }
  .sound-knowledge-container {
    text-align: center;
    margin-top: 5rem;
    .title {
      margin-bottom: 1.5rem;
      font-weight: 200;
      letter-spacing: 1px;
    }
    .tech-card {
      &.android {
        // border: 1px solid rgb(165,198,56);
      }
      &.docker {
        // border: 1px solid rgb(54,178,217);
      }
      &.react {
        // border: 1px solid rgb(83,194,222);
      }
      &.flutter {
        // border: 1px solid rgb(70,209,252);
      }
      &.objective-c {
        // border: 1px solid rgb(240,89,42);
      }
      &.swift {
        // border: 1px solid rgb(245,127,58);
      }
    }
  }
  .other-tools {
    text-align: center;
    margin-top: 5rem;
    .title {
      margin-bottom: 1.5rem;
      font-weight: 200;
      letter-spacing: 1px;
    }
    .tech-card {
      &.npm {
        // border: 1px solid rgb(204,53,51);
        .card-body {
          img {
            // width: 95px;
          }
        }
      }
      &.git {
        // border: 1px solid rgb(240,82,51);
      }
      &.github {
        // border: 1px solid rgb(27,32,36);
      }
      &.gitbucket {
        // border: 1px solid rgb(34,133,255);
      }
      &.sketch {
        // border: 1px solid rgb(253,175,0);
      }
      &.adobe-xd {
        // border: 1px solid rgb(255,42,194);
      }
      &.adobe-photoshop {
        // border: 1px solid rgb(51,197,239);
      }
      &.adobe-illustrator {
        // border: 1px solid rgb(255,127,24);
      }
      &.adobe-ae {
        // border: 1px solid rgb(212,146,254);
      }
    }
  }
}
