<section class="skill-container">
  <div class="jumbotron">
    <div class="align-middle text-center">
      <h2 class="title">My Skils</h2>
    </div>
    <div class="container">
      <div class="front-end-container">
        <h4 class="title">Front-end Development Languages, Frameworks, Technologies and Tools</h4>
        <div class="row tech-row">
          <div class="col-2">
            <div class="card tech-card js">
              <div class="card-body">
                <img
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/1024px-Unofficial_JavaScript_logo_2.svg.png"
                  alt="JS Logo">
                <h5>JavaScript</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card ts">
              <div class="card-body">
                <img
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Typescript_logo_2020.svg/2048px-Typescript_logo_2020.svg.png"
                  alt="TS Logo">
                <h5>TypeScript</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card ng">
              <div class="card-body">
                <img
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/240px-Angular_full_color_logo.svg.png"
                  alt="Angular Logo">
                <h5>Angular</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card ionic">
              <div class="card-body">
                <img src="https://ionicframework.com/img/meta/logo.png" alt="Ionic Logo">
                <h5>Ionic</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card jq">
              <div class="card-body">
                <img src="https://cdn.iconscout.com/icon/free/png-256/jquery-10-1175155.png" alt="Jquery Logo">
                <h5>Jquery</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card sass">
              <div class="card-body">
                <img
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/Sass_Logo_Color.svg/1280px-Sass_Logo_Color.svg.png"
                  alt="SCSS Logo">
                <h5>SASS</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="row tech-row">
          <div class="col-2">
            <div class="card tech-card karma">
              <div class="card-body">
                <img src="https://seeklogo.com/images/K/karma-logo-B204C2D2E3-seeklogo.com.png" alt="Karma Logo">
                <h5>Karma</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card jasmine">
              <div class="card-body">
                <img src="https://seeklogo.com/images/J/jasmine-logo-1A0FA4D537-seeklogo.com.png" alt="Jasmine Logo">
                <h5>Jasmine</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card html">
              <div class="card-body">
                <img
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/512px-HTML5_logo_and_wordmark.svg.png"
                  alt="HTML Logo">
                <h5>HTML</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card css">
              <div class="card-body">
                <img
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CSS3_logo_and_wordmark.svg/1200px-CSS3_logo_and_wordmark.svg.png"
                  alt="CSS Logo">
                <h5>CSS</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card bootstrap">
              <div class="card-body">
                <img
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Bootstrap_logo.svg/2560px-Bootstrap_logo.svg.png"
                  alt="Bootstrap Logo">
                <h5>Bootstrap</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card mat">
              <div class="card-body">
                <img src="https://seeklogo.com/images/M/materialize-logo-0FCAD8A6F8-seeklogo.com.png"
                  alt="Materialize Logo">
                <h5>Materialize</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="back-end-container">
        <h4 class="title">Back-end Development Languages, Frameworks, Technologies and Tools</h4>
        <div class="row tech-row">
          <div class="col-2">
            <div class="card tech-card node">
              <div class="card-body">
                <img
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/1280px-Node.js_logo.svg.png"
                  alt="Node JS Logo">
                <h5>Node Js</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card express">
              <div class="card-body">
                <img src="https://upload.wikimedia.org/wikipedia/commons/6/64/Expressjs.png" alt="Express JS Logo">
                <h5>Express Js</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card sequelize">
              <div class="card-body">
                <img src="https://cdn.worldvectorlogo.com/logos/sequelize.svg" alt="Sequelize Logo">
                <h5>Sequelize</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card java-play">
              <div class="card-body">
                <img
                  src="https://www.playframework.com/assets/images/logos/3740142a5b6d7e5c73afc223f837c2ed-play_full_color.png"
                  alt="Java Play Logo">
                <h5>Java Play</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card ebean">
              <div class="card-body">
                <img src="https://ebean.io/images/logo-200.png" alt="Ebean Logo">
                <h5>Ebean</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card firebase">
              <div class="card-body">
                <img src="https://seeklogo.com/images/F/firebase-logo-402F407EE0-seeklogo.com.png" alt="Firebase Logo">
                <h5>Firebase</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="row tech-row">
          <div class="col-2">
            <div class="card tech-card g-cloud">
              <div class="card-body">
                <img src="https://seeklogo.com/images/G/google-cloud-logo-ADE788217F-seeklogo.com.png"
                  alt="Google Cloud Logo">
                <h5>Google Cloud</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card mysql">
              <div class="card-body">
                <img src="https://download.logo.wine/logo/MySQL/MySQL-Logo.wine.png" alt="MySQL Logo">
                <h5>MySQL</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card hibaernate">
              <div class="card-body">
                <img src="https://cdn.worldvectorlogo.com/logos/hibernate.svg" alt="Hibernate Logo">
                <h5>Hibernate</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card java">
              <div class="card-body">
                <img src="https://www.probytes.net/wp-content/uploads/2019/07/java-logo-vector-768x768.png"
                  alt="Java Logo">
                <h5>Java</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sound-knowledge-container">
        <h4 class="title">Sound knowledge in</h4>
        <div class="row tech-row">
          <div class="col-2">
            <div class="card tech-card android">
              <div class="card-body">
                <img src="https://cdn.worldvectorlogo.com/logos/android.svg" alt="android Logo">
                <h5>Android</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card docker">
              <div class="card-body">
                <img src="https://cdn.worldvectorlogo.com/logos/docker.svg" alt="Docker Logo">
                <h5>Docker</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card react">
              <div class="card-body">
                <img src="https://iconape.com/wp-content/files/zk/93042/svg/react.svg" alt="React Logo">
                <h5>React</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card flutter">
              <div class="card-body">
                <img src="https://cdn.iconscout.com/icon/free/png-512/flutter-2038877-1720090.png" alt="Flutter Logo">
                <h5>Flutter</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card objective-c">
              <div class="card-body">
                <img src="https://seeklogo.com/images/O/objective-c-logo-81746870EF-seeklogo.com.png"
                  alt="Objective-C Logo">
                <h5>Objective-C</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card swift">
              <div class="card-body">
                <img src="https://cdn.freebiesupply.com/logos/large/2x/swift-15-logo-png-transparent.png"
                  alt="Swift Logo">
                <h5>Swift</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="other-tools">
        <h4 class="title">Other Tools and Technologies</h4>
        <div class="row tech-row">
          <div class="col-2">
            <div class="card tech-card npm">
              <div class="card-body">
                <img
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/db/Npm-logo.svg/1280px-Npm-logo.svg.png"
                  alt="npm Logo">
                <h5>NPM</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card git">
              <div class="card-body">
                <img
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Git_icon.svg/1200px-Git_icon.svg.png"
                  alt="git Logo">
                <h5>Git</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card github">
              <div class="card-body">
                <img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg"
                  alt="Github Logo">
                <h5>Github</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card gitbucket">
              <div class="card-body">
                <img
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0e/Bitbucket-blue-logomark-only.svg/1200px-Bitbucket-blue-logomark-only.svg.png"
                  alt="bitbucket Logo">
                <h5>Bitbucket</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card sketch">
              <div class="card-body">
                <img
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/Sketch_Logo.svg/2267px-Sketch_Logo.svg.png"
                  alt="sketch Logo">
                <h5>Sketch</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card adobe-xd">
              <div class="card-body">
                <img src="https://cdn.worldvectorlogo.com/logos/adobe-xd.svg" alt="adobe xd Logo">
                <h5>Adobe XD</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="row tech-row">
          <div class="col-2">
            <div class="card tech-card adobe-photoshop">
              <div class="card-body">
                <img src="https://cdn.worldvectorlogo.com/logos/photoshop-cc.svg" alt="adobe-photoshop">
                <h5>Adobe Photoshop</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card adobe-illustrator">
              <div class="card-body">
                <img src="https://cdn.worldvectorlogo.com/logos/adobe-illustrator-cc.svg" alt="adobe-illustrator Logo">
                <h5>Adobe Illustrator</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card tech-card adobe-ae">
              <div class="card-body">
                <img src="https://www.av8.com.sg/application/files/5215/6525/6091/Adobe_After_Effects_CC_icon.svg.png"
                  alt="adobe-ae Logo">
                <h5>Adobe AE</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
