.main-body {
  font-family: "eurostile", sans-serif;
  height: 90vh;
  .container-fluid {
    height: inherit;
    .row {
      height: inherit;
    }
  }
}
.profile-img-container {
  height: inherit !important;
  .profile-img {
    width: 80% !important;
  }
}
.info-container {
  padding: 0 40px 0 40px;
  height: inherit !important;
  .name {
    color: mediumturquoise;
  }
  .title {
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 1.5px;
    margin-bottom: 1.5rem;
  }
  .subtitle {
    font-family: "eurostile", sans-serif;
    letter-spacing: 2px;
    margin-bottom: 1.5rem;
    font-weight: 100;
  }
}
